@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.linear-gradient {
    background: hsla(248, 21%, 15%, 1);

background: linear-gradient(90deg, rgb(25, 23, 36) 0%, rgb(59, 52, 97) 100%);

background: -moz-linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, rgb(68, 64, 92) 100%);

background: -webkit-linear-gradient(90deg, hsla(248, 21%, 15%, 1) 0%, rgb(83, 77, 113) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#211F2F", endColorstr="#918CA9", GradientType=1 );
}


